<p id="notice"><%= notice %></p>

<h1>Feeds</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Content</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @feeds.each do |feed| %>
      <tr>
        <td><%=image_tag feed.image.url%></td>
        <td><%= feed.content %></td>
          <td><%= feed.user.name %></td>
        <div class="btn-group">
              <td>
          <button type="button" class="btn btn-primary"><%= link_to 'Show', feed %></button>
          <button type="button" class="btn btn-primary"><%= link_to 'Edit', edit_feed_path(feed) %></button>
          <button type="button" class="btn btn-primary"><%= link_to 'Destroy', feed, method: :delete, data: { confirm: 'Are you sure?' } %></button>
        </div>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<button type="button" class="btn btn-success"><%= link_to 'New Feed', new_feed_path %></button>
