<!DOCTYPE html>
<html>
  <head>
    <title>Facebookclone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
<div class="first">
<%= image_tag("facebook.png") %>
  </div>

  <div class="second">
  <%= image_tag("fb.jpeg") %>
    </div>
</header>
 <% flash.each do |key, value| %>
 <%= content_tag(:div, value, class: "#{key}") %>
 <% end %>
 <% if logged_in? %>
  <button type="button" class="btn btn-info"> <%= link_to "Posts", feeds_path(current_user.id) %>    </button>

<button type="button" class="btn btn-info"><%= link_to "Profile", user_path(current_user.id) %></button>


 <button type="button" class="btn btn-danger"><%= link_to "Logout", session_path(current_user.id), method: :delete %></button>
 <% else %>

 <button type="button" class="btn btn-warning"><%= link_to "Sign up", new_user_path %></button>

 <button type="button" class="btn btn-primary"> <%= link_to "Login", new_session_path %></button>

 <% end %>
 <%= yield %>
 <footer class="footer">
      <p>Copyright © 2020 Facebookclone inc, All RIGHTS RESERVED.</p>
   </footer>

 </body>
 </html>
